{% extends 'base.html' %}

{% block content %}
<h2>About Us Page</h2>
<p>Welcome to Swiggy website, Visitor!</p>


<div class="container mb-5">
  <div class="row justify-content-center ">
    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
      <!-- <h1>SWIGGY-Clone-Website</h1> -->
    </div>
  </div>
  <div class="row justify-content-center mt-1">
    <div class="card col-md-10 col-sm-12 offset-md-1 p-4 text-center">
      <h2>About Us</h2>
      <p>At Swiggy, we're not just a food delivery platform; we're a passionate team of food enthusiasts dedicated to transforming the way you experience dining. Our journey began with a simple yet revolutionary idea: to bring the world of food to your doorstep, anytime, anywhere. Swiggy has since evolved into India's leading online food ordering and delivery platform, serving millions of satisfied customers and partnering with thousands of restaurants.</p>

      <h2>Our Mission</h2>
      <p>Our mission is clear: to redefine convenience and elevate your dining experience. We believe that everyone should have access to a wide variety of culinary delights, whether it's your favorite comfort food or an exotic international dish. We're committed to making food delivery not just a service but an experience, ensuring that each meal arrives hot, fresh, and on time. We're here to simplify your life, cater to your cravings, and connect you with the vibrant world of flavors around you.</p>

      <h2>Our Promise</h2>
      <p>At Swiggy, we take pride in our reliability, transparency, and customer-centric approach. Our dedicated team works tirelessly to ensure that your food is delivered with the utmost care and attention. We constantly innovate and adapt to meet your evolving needs, making your dining experience as seamless and enjoyable as possible. Thank you for choosing Swiggy as your trusted food companion. Join us on this culinary journey, where your satisfaction is our top priority.</p>
    </div>
  </div>
</div>
{% endblock content %}