{% extends 'base.html' %}

{% block content %}
  <h2>Home Page</h2>
  <p>Welcome to Swiggy website, Visitor!</p>
  <div class="container mb-5">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">    
      </div>
    </div>
    <div class="row justify-content-center ">
      <div class="card col-md-10 col-sm-12 offset-md-1 p-4 text-center">
        <p>Welcome to our Swiggy Clone website, your ultimate destination for food delivery convenience! With a seamless user experience and an extensive selection of restaurants and cuisines, we bring your favorite dishes right to your doorstep. Explore a world of culinary delights, from local flavors to international cuisines, all at your fingertips. Our user-friendly platform ensures a hassle-free ordering process, while our reliable delivery partners ensure your food reaches you hot and fresh. Whether it's a quick snack or a lavish meal, we've got you covered. Join the food revolution and start ordering today! Your cravings, our mission.</p>

        <p>Introducing the future of food delivery at your fingertips! Welcome to our Swiggy Clone website, where we redefine convenience. Discover a treasure trove of restaurants offering delectable dishes, and let us bring the flavors of the world right to your doorstep. Our user-friendly interface and lightning-fast delivery ensure that you enjoy a hassle-free dining experience from the comfort of your home. Explore diverse cuisines, savor local favorites, and indulge in global treats - all with just a few clicks. Join our food-loving community and embark on a culinary journey like never before. Satisfaction, served hot!</p>

        <p>
          Step into a world of culinary delight with our Swiggy Clone website. We're your go-to destination for effortless food ordering and swift, reliable deliveries. Choose from an array of restaurants and cuisines, from your favorite local eateries to exotic international flavors. Our intuitive platform ensures a seamless ordering process, and our dedicated delivery partners ensure your meal arrives piping hot and on time. Whether you're craving comfort food or seeking an epicurean adventure, we've got it all covered. Join us today and experience the joy of effortless dining - where your cravings meet our commitment. Bon appétit</p>
      </div>
    </div>
  </div>
{% endblock %}